@import "../../styles/utils/variables";

.track-list-header {
  color: $spotify-color;
}

.image-table-data {
  width: 15%;
  transition: all 0.1s;
}

img.thumbnail {
  width: 100%;
  height: 100%;
}
.thumbnail-animation:hover {
  transform: scale(1.1);
}

.search-track-box {
  height: 85%;
  background-color: #282828;
  border: solid 1px #b3b3b3;
  color: #b3b3b3;
}

.table {
  color: inherit !important;
}

.btn-spotify {
  background-color: $spotify-color;
}
